#root,html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.full{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(../Images/forest-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.card{
    width: 500px;
    height: 40%;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px 10px rgba(176, 172, 172, 0.3);
}

.heading{
    text-align: center;
}

button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
  }

  button:hover {
    animation: mymove 0.7s ease-in-out both;
  }
  @keyframes mymove {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  @media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        height: 30%;
    }
    button{
        width: 150px;
    }
  }